body {
  background: linear-gradient(to bottom, #081221, #03080f);
  background-repeat: no-repeat;
  padding: 60px;
  color: #c1d1e8 ;
  
  }
body::-webkit-scrollbar {
    width: 0px;
}
.card-background{
    background-color: #0e1a2b 
}

.home-root{
    position: relative;
}
.home-view-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  margin-top: 40px;
}
.navigation-wrapper{
    display: flex;
}
.navgation-heading-wrapper{
    width: 280px;
    display: flex;
    
    flex-direction: column;
}
.navgation-heading-lable{
    font-size: 55px;
    opacity: 0.3;
    height: 63px;
    color: #ffffff ;
    visibility: visible;
}
.navgation-heading-link{
    padding-left: 35px;
    font-size: 30px;
    margin-top: -35px;
    z-index:900
}
a{
    text-decoration: none;
    color: #ffffff ;
}
.hide-lable{
    visibility: hidden !important;
}

.filter-root{
    padding: 15px;
    height: fit-content;
    width: 20%;
    margin-right: 10px;
    color: #ffffff ;
}
.filter-parent{
    margin-top: 30px;
}
.filter-input{
    background-color: #182c47; 
    border:none;
    color: #ffffff ;
    height: 25px;
    margin-top: 5px;
    width: 96%;
    padding: 5px
}
.filter-input:focus-visible{
    outline: none;
}
::placeholder {
    color: #ffffff94 ;
}
.filter-button-wrapper{
    margin-top: 110px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
select{
    height: 40px !important;
    width: 87% !important;
}
select option {
    background-color:  #182c47;
    color: #ffffff ;
    opacity: 0.8;
    padding: 10px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.select-wrapper{
    display: flex;
    width: 98%;
    justify-content: space-between;
    align-items: flex-end;
}
.arrow-icon{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    background: #5692e8;
    align-items: center;
    cursor: pointer;
    img{
        height: 25px;
        width: 23px;
    }
}
.filter-clear-button{
    border: none;
    color: #ffffff ;
    height: 28px;
    width: 70px;
    background-color: #5692e8;
    border-radius: 2px;
}
.game-content-root{
    width: 78%;
    height: 800px;
    position: relative;
    overflow-y: scroll;
}
.game-content-root::-webkit-scrollbar {
    width: 0px;
}
.game-content-parent{
    width: 100%;
    margin-bottom: 10px;
}
.game-content-wrapper{
    background-color: black;
    border-radius: 2px;
    padding-left: 80px;
    display: flex;
}
.game-content-detail-wrapper{
    width: 90%;
    padding: 15px;
}
.game-heading-wrapper{
    color: #c1d1e8;
}
.game-title{
    font-size: 22px;
    font-weight: bold;
    color: #ffffff ;
}
.game-date{
    font-size: 16px;
}
.game-detail{
    margin-top: 10px;
    font-size: 14px;
}
.game-content-number-wrapper{
    display: flex;
    justify-content: center;
    width: 10%;
    align-items: center;
    
}.game-content-number{
    color: #ffffff ;
    background:#5692e8;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 1000px) { /* Adjust the breakpoint to your preferred mobile width */
    .navigation-wrapper {
        flex-direction: column; /* Change to column on mobile view */
    }
    .home-view-wrapper{
        flex-direction: column;
    }
    .filter-root{
    width: 97%;
    margin-bottom: 60px;
    }
    .filter-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
    .filter-parent{
        width:40%
    }
    .filter-button-wrapper{
        width: 5%;
        margin-top: 50px;
    }
    }
    .game-content-root{
        width: 100%;
    }
    
}
@media (max-width: 700px) { /* Adjust the breakpoint to your preferred mobile width */
    .filter-wrapper{
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    .filter-parent{
        width:100%
    }
    .filter-button-wrapper{
        width: 97%;
        margin-top: 50px;
        .filter-clear-button{
            width: 100%;
        }
    }
    }
    .game-content-wrapper{
        flex-direction: column-reverse;
        align-items: end;
    }
    .game-content-detail-wrapper{
        width: 110%;
        padding: 16px;
        margin-top: 50px;
    }
    .game-content-number-wrapper{
        margin-top: 10px;
    background: transparent;
    margin-right: 5px;
    }
    
}